/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color:none;
    scroll-behavior: smooth;
}

body{
    font-family: roboto, sans-serif;
}

h1 {
    font-family: monoton;
    text-transform: uppercase;
    font-size: 3em;
}

h2 {
    font-family: wire;
    text-transform: uppercase;
    font-size: 5rem;
    text-align: center;
}

h3 {
    font-family: wire;
}

input, textarea {
    font-family: roboto, sans-serif;
}

.green {
    color: #00ff00;
    text-shadow: 0 0 0.15em #00ff00;
}

.purple {
    color: #1b0823;
    text-shadow: 0 0 0.15em #1b0823;
}

button {
    border: none;
    text-align:center;
    text-transform: uppercase;
    font-family: wire;
    color: white;
    font-size: 2em;
    letter-spacing: 5px;
    background-color: black;
    padding: 0 1em;
}